<!doctype html>
<html ng-app>
    <head>
        <link rel="stylesheet" href="lib/reveal/css/reveal.min.css">

        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides" ng-controller=ExerciseController>
                <section ng-repeat="slide in slides">
                    <section ng-repeat="image in slide.images">
                        <img autoSlide=3 ng-src="{{image}}" />
                    </section>
                </section>
            </div>
        </div>

        <script src="lib/angular/angular.js"></script>
        <script src="js/controllers.js"></script>
        <script src="lib/reveal/reveal.js"></script>
    </body>
</html>
