<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>AngularJS App</title>
  <!--<link rel="stylesheet" href="css/app.css"/>-->
  <link href="css/lesson-1.css" rel="stylesheet" />
</head>
<body class="impress-not-supported">
  <!--<ul class="menu">-->
    <!--<li><a href="#/view1">view1</a></li>-->
    <!--<li><a href="#/view2">view2</a></li>-->
  <!--</ul>-->

    <!--<div id="impress" ng-view></div>-->

<div id="impress" ng-controller="ExerciseController">
    <div class="step slide" data-x="{{$index*1000}}" data-y="-1500" ng-repeat="slide in slides">
        <div class="animation" ng-repeat="image in slide.images">
            <img ng-src="{{image}}" />
        </div>
    </div>
</div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/impress.js"></script>

  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

  <script>impress().init();</script>
</body>
</html>
